<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaarevaCommodityTradingApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.bluebellcspl.maarevacommoditytradingapp.HomeActivity"
            android:launchMode="singleTop"
            android:exported="false" />
        <activity
            android:name="com.bluebellcspl.maarevacommoditytradingapp.RegisterActivity"
            android:launchMode="singleTop"
            android:exported="false" />
        <activity
            android:name="com.bluebellcspl.maarevacommoditytradingapp.LoginActivity"
            android:launchMode="singleTop"
            android:exported="false" />
        <activity
            android:name="com.bluebellcspl.maarevacommoditytradingapp.MainActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>